footer {
  background-color: black;
  height: 70px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.footLogo {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footTheRecord {
  color: white;
  letter-spacing: 5px;
  font-size: 14px;
  margin-left: 21px;
  margin-bottom: -1px;
  margin-top: 14px;
  /* position:relative; */
  /* top: 17px; */
}

.footExchange {
  color: white;
  letter-spacing: 10px;
  margin-left: 15px;
  margin-top: -7px;
  /* position: relative; */
  /* bottom: 7px; */

}
.redWord {
  color: red;
}
.footName {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  /* position:relative; */
  /* top: 23px; */
  margin-right: 25px;
  margin-top: 22px;

}
.josh {
  letter-spacing: 10px;
}
.design {
  font-size: 11px;
  margin-right: 17px;
  margin-top: 4px;
  letter-spacing: 3px;
}
