.card {
margin: 20px;

width: 924px;
flex-direction: row;
height: 299px;
overflow: hidden;
font-weight: normal;
border: 1px, solid, #FCFCFC;



}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card > img {
  display:inline-block;
  width: 396px;
  height: 299px;
  overflow: hidden;


}

.card-title {

  color: black;
  font-weight: bolder;
  margin-top: 25px;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 800;

  text-align: center;

}

.card-text {
  font-size: 22px;
  line-height: 35px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 30px;
}



.card > body {
  display:inline-block;
  width: 505px;

}
header {



  height: 300px;

}
.log-in {
  display:inline-block;
  float:right;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 20px;
  font-family: Symbol;
  letter-spacing: 10px;
  font-weight: bold;
  position:relative;
  top: 90.2px;
  color: red;


}
.top-litter {
  background-color: black;
  height: 30px;
  position: relative;
  top: 89px;

}


.pick {
  float: right;
  color: white;
  font-size: 45.5px;
  display:inline-block;
  font-family: Symbol;
  font-weight: bold;
  position:relative;
  bottom: 13px;
  left: 140px;
}
.top {
  color: white;
  font-size: 45.5px;
  display: inline-block;
  font-family: Symbol;
  font-weight: bold;
  position:relative;
  bottom: 13px;
  left: 42px;

}

nav {
  display:inline-block;
  position: relative;
  top: 113px;
  left: 30px;

}

a {
  padding: 10px;
  padding-left: 20px;
  color: black;
  font-stretch: ultra-expanded;
  letter-spacing: 20px;
  font-weight: bold;

}
a:hover {
  color: red;
  text-decoration: none;
}
.black {
  position:relative;
  background-color: black;
  height: 30px;
  top: 50px;
}
h1 {
  display: inline-block;
  font-size: 100px;
  position:relative;
  top: 40px;
  left: 60px;
  border-bottom-style: solid;
  border-top-style: solid;
}
.special-word {
  color: red;
}
