
.form-the-record {
  display:inline-block;
  font-size: 70px;
  position: relative;
  left: 330px;
  top: 75px;

}

.form-exchange {


  display:inline-block;
  position: relative;
  font-size: 150px;
  top: 180px;
  right: 160px;


}

.col-12 {
margin-top: -113px;


}
.col-12:focus {outline:0;}




input {
 width: 400px;
 border-color: red;
 color: black;



}
input:focus {outline:0;}
label {
font-family: Symbol;

font-stretch: ultra-expanded;
letter-spacing: 10px;
font-size: 20px;

}
